@CHARSET "US-ASCII";
/* Formatting specific to the QuestionEditor application */

body {
  padding: 10px;
}

#editorHeader {
	text-align: center;
}

.testAlign {
	text-align: center;
}

/* Example css. Can be used the following way: stocksFlexTable.getRowFormatter().addStyleName(0, "watchListHeader");
.watchListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}
*/