<div class="container">
	<div class="hero-unit">
		<h1>Home#index</h1>
		<h2>Question Administration</h2>
		<p>
		Click below to administrate questions.
		</p>
		<p>
		<a class="btn btn-primary btn-large" <%= link_to "Questions", questions_path %></a>
		</p>
	</div>
</div>
